ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration-line: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

/* ====header===== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.color-w {
  color: #2e2f42;
}
.container-head {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid #e7e9fc;
  width: 1158px;
  margin: 0 auto;
  align-items: center;
}
.page-nave {
  display: flex;
  gap: 40px;
  align-items: center;
}

.cont {
  display: flex;
  gap: 40px;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}
.menu-lin {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus,
.menu-lin:hover,
.menu-lin:focus {
  color: #404bbf;
}
.page-con {
  font-style: normal;
}
.logo:hover,
.logo:focus,
.color-w:hover,
.colst:focus,
.color-w:focus,
.colst:hover {
  color: #404bbf;
}

/* ======hero====== */
.page-back {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.page-hg {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.container-hero {
  text-align: center;
}

.page-but {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
}
.page-but:hover,
.page-but:focus {
  background: #404bbf;
}
/* ========advantages======= */
.page-ad {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.str-list {
  display: flex;
  gap: 24px;
}
.str-list-item {
  width: calc((100% - 72px) / 4);
}

/* ======team======= */
.page-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.page-t {
  background: #f4f4fd;
}
.back {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}
.page {
  text-align: center;
  padding: 32px 0;
}

.page-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.bteam {
  display: flex;
  gap: 24px;
}

.prof {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* =====port======== */
.hpor {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.port {
  display: flex;
  padding-bottom: 24px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.text {
  width: 360px;
  height: 120px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-page {
  width: calc((100% - 48px) / 3);
}
.page-h {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.page-a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.secb {
  background: #fff;
}
/* =======footer======= */
.end {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.foot-back {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.colst {
  color: #f4f4fd;
}
.logo-f {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.section-pad {
  padding-top: 120px;
  padding-bottom: 120px;
}
